@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
/* Base styles */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #81a14a;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    width: 100%;
    padding: 20px 0; /* Add some top and bottom padding */
}

img {
    height: 200px;
}

/* Anchor tags */
a {
    text-decoration: none; /* Correct this line */
    color: #ffffff; /* Example color */
}

a:hover {
    text-decoration: underline;
    color: #0056b3; /* Darker shade for hover effect */
}

/* Footer styles */
footer {
    padding: 20px 0;
    background-color: #81a14a; /* Dark background color */
    color: #ffffff; /* White text color */
    text-align: center;
}

/* Grid layout for recipe list */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%; /* grid's width */
    max-width: 1200px; /* Adjust value for design needs */
    margin: 0 auto; /* This centers the grid horizontally */
}

/* Detail page enhancements */
.ingredients-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}

/* Additional styling */
h1, h2, h3 {
    text-shadow: 1px 1px 2px #aaaaaa;
}

.recipe-grid a {
    color: #81a14a; /* Green shade for links, adjust as needed */
}

/* Enhancements for interaction */
.recipe-grid a:hover, nav a:hover {
    transition: color 0.3s ease-in-out;
    color: #81a14a; /* Darker green for hover on links */
}
.rating {
    font-size: 16px; /* Adjust size to match text */
    display: flex;
    align-items: center; /* Aligns text and stars vertically */
}

.stars {
    display: flex;
    width: calc(4.3 * 16px); /* Calculates the total width based on number of stars and desired size */
    height: 16px; /* Match the height to the font size to keep stars 'as small as the text' */
    position: relative;
    overflow: hidden; /* Hides the part of the .3 star */
}

.stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width to cover all stars */
    height: 100%;
    background-image: url(https://purepng.com/public/uploads/large/purepng.com-golden-starstargeometricallydecagonconcavestardomgold-1421526502457qjc8k.png); /* Path to your star image */
    background-size: 16px; /* Size of one star, matching the font size */
    background-repeat: repeat-x; /* Repeat horizontally */
}
.header {
    position: relative;
    /* Other styling for header */
    height: 100px; /* Example height */
    background-color: #57702c; /* Light background color */
}
.overlay-button {
    position:absolute;
    top: 29px;
    left: 20px;
    background-color: #81a14a;
    color: #ffffff;
    border: double;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.overlay-button:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.18);
    opacity: 0.9;
  }
  .overlay-button:active {
    opacity: 0.5;
  }
  .veg-button {
    position: relative;
    background-color: #ff4466;
    color: white;
    border: double;
    border-color: rgb(255, 255, 255);
    height: 36px;
    width: 200px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }
  .veg-button:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.18);
  }
  .veg-button:active {
    opacity: 0.9;
  }

  @media (max-width: 768px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 recipes per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .recipe-grid {
        grid-template-columns: 1fr; /* Stack recipes vertically on very small screens */
    }
}
